html, body {
    height: 100%;
    margin: 0;
}

.content {
    min-height: 100%;
}

.jumbotron {
    width: 50%;
    border-radius: 10px;
    border: 3px solid black;
}

.form-control {
    width: 80%;
    padding: 15px;
}

.table {
    width: 90%;
}

span {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

th, td {
    width: 20%;
    text-align: center;
}

hr {
    width: 80%
}

.footer {
    font-size: 16px;
}