<div class="jumbotron center-block">

    <!-- Checking if form is valid -->
    <form name="userForm" ng-submit="submitUser()">

        <!-- Name field -->
        <div class="form-group">
            <input type="text" name="fullName" ng-model="fullName" class="form-control center-block" placeholder="Full Name." required>

            <!-- Displaying appropriate message for validating requirement. -->
            <div ng-messages="userForm.fullName.$error">
                <div ng-message="required" class="text-center">
                    <span>Name is required.</span>
                </div>
            </div>
        </div>

        <!-- Username field -->
        <div class="form-group">
            <!-- Minimum username length is 5 character and maximum length is 15 characters. -->
            <input type="text" name="userName" ng-model="userName" class="form-control center-block" placeholder="Username."
                   ng-minlength="5" ng-maxlength="15" required>

            <!-- Displaying appropriate message for validating requirement or length scenarios. -->
            <div ng-messages="userForm.userName.$error" class="text-center">
                <div ng-message="required">
                    <span>Username is required.</span>
                </div>
                <div ng-message="minlength">
                    <span>Username is too short.</span>
                </div>
                <div ng-message="maxlength">
                    <span>Username is too long.</span>
                </div>
            </div>
        </div>

        <!-- Email field -->
        <div class="form-group">
            <input type="email" name="emailAddress" ng-model="emailAddress" class="form-control center-block" placeholder="E-mail." required>

            <!-- Displaying appropriate message for validating requirement or email format. -->
            <div ng-messages="userForm.emailAddress.$error" class="text-center">
                <div ng-message="required">
                    <span>Email address is required.</span>
                </div>
                <div ng-message="email">
                    <span>Invalid email format.</span>
                </div>
            </div>
        </div>

        <!-- Form submission (Adding a user to the table) -->
        <div>
            <!-- Button is disabled if the form criteria isn't met. -->
            <button type="submit" class="btn btn-primary center-block" ng-disabled="userForm.$invalid">Add User</button>
        </div>

    </form>

</div>