<!-- Table that contains all the validated users. -->
<div>

    <table class="table table-striped table-bordered" align="center">
        <!-- Table Headers -->
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Delete User</th>
        </tr>

        <!-- Iterates through users array -->
        <tr ng-repeat="user in users">
            <!-- Each property name is referencing the corresponding ng-model. -->
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <!-- Option to delete user -->
            <td><button class="btn btn-danger" ng-click="deleteUser($index)">Delete User</button></td>
        </tr>

    </table>

</div>